# Gradle
.gradle/
build/
*/build/

# Local properties
local.properties

# IntelliJ IDEA / Android Studio
*.iml
.idea/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# NDK / C++
.externalNativeBuild/
.cxx/

# Logs
*.log

# Capture output
captures/

# OS
.DS_Store
Thumbs.db

# Firebase (da ignorare se presente e non da versionare pubblicamente)
google-services.json
